.form {
    display: flex;
    flex-direction: column;
    margin: 10px 30%;
    text-align: left;

}

.form-container {
    background-color: rgb(10, 33, 70);
    text-align: center;
    padding: 7% 0 5%;
}

.contact h1 {
    font-size: 40px;
    padding: 20px 0;
}

.contact p {
    font-size: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 10px 0;
    color: cornsilk;
    gap: 10px;
}

input {
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid cornsilk;
    border-radius: 10px;
    outline: none;
    background: rgb(10, 33, 70);
}

textarea {
    background: rgb(10, 33, 70);
    height: 200px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid cornsilk;
    border-radius: 10px;
    outline: none;
}

.send {
    padding: 0 10px;
    height: 40px;
    margin: 10px 0;
    font-size: 25px;
    background: green;
    color: whitesmoke;
}

.send:hover {
    border: 1px solid cornsilk;
}

@media only screen and (max-width: 760px) {
    .form {

        margin: 10px 5%;

    }

    .contact h1 {
        font-size: 35px;
    }

    .contact p {
        font-size: 18px;
    }

    label {
        font-size: 20px;
    }

    input,
    textarea {
        font-size: 18px;
    }
}