.form {
  display: flex;
  flex-direction: column;
  margin: 10px 30%;
  text-align: left;
}

.form-container {
  background-color: #2563EB;
  color: #f5f5ff;
  text-align: center;
  padding: 7% 0 5%;
}

.contact h1 {
  font-size: 40px;
  padding: 20px 0;
  color: #FBBF24;
  font-weight: 600;
}

.contact p {
  font-size: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 10px 0;
  color: #f5f5ff;
  gap: 10px;
}

input {
  height: 40px;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #f5f5ff;
  border-radius: 10px;
  outline: none; 
  background: #2563EB;
}

textarea {
  height: 200px;
  font-size: 18px;
  padding:  10px 20px;
  border: 1px solid #f5f5ff;
  border-radius: 10px;
  outline: none;
  background: #2563EB;
}

.send {
  padding: 0 10px;
  height: 40px;
  margin: 10px 0;
  font-size: 25px;
  background: #fff;
  border: none;
  color: #1E3A8A;
}

.send:hover {
  border: 1px solid #00f;
  background: #3B82F6;
  color: #fff;
}

@media only screen and (max-width: 760px) {
  .form {
    margin: 10px 5%;
  }

  .contact h1 {
    font-size: 35px;
  }

  .contact p {
    font-size: 18px;
  }

  label {
    font-size: 20px;
  }

  input,
  textarea {
    font-size: 18px;
  }
}
