.home-container {
  display: flex;
  padding: 5% 0 8%;
  background-color: #191765;
  background-image: url(./shape-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  align-items: center;
  background-size: contain;
  color: #f5f5ff;
}

.home {
  width: 50%;
  padding-left: 5%;
}

.home h1 {
  font-size: 55px;
  font-weight: 600;
}

.span {
  color: #7d73fc;
}

.home h2 {
  text-align: center;
  font-size: 38px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 2% 10px;
  background: #191765;
}

.paragraph {
  font-size: 20px;
  padding: 20px 0;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 0 0 #f5f5ff;
  border-radius: 50%;
  height: 450px;
  width: 450px;
  margin: 0 0 0 100px;
}

.profile-photo {
  background-image: url(./95461386.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.profile-photo:hover {
  transform: scale(1.09);
  transition: 1s ease-out;
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 5%;
}

.hire-btn {
  border: 1px solid #f5f5ff;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 15px;
  background-color: #191765;
  cursor: pointer;
}

.hire-btn:hover {
  border: 1px solid #00f;
}

.hire {
  background: #00f;
  color: whitesmoke;
  padding: 5px 30px;
  border: none;
  font-size: 25px;
  border-radius: 15px;
}

.hire:hover {
  background-color: #191765;
  color: #f5f5ff;
  border: 1px solid #f5f5ff;
}

@media only screen and (max-width: 1110px) {
  .profile {
    margin: 0 0 0 80px;
  }
}

@media only screen and (max-width: 910px) {
  .profile {
    width: 320px;
    height: 320px;
    margin: 0 0 0 10%;
  }
}

@media only screen and (max-width: 810px) {
  .profile {
    margin: 0;
  }
}

@media only screen and (max-width: 760px) {
  .home-container {
    display: flex;
    flex-direction: column;
    padding: 15% 5px 8%;
  }

  .home h1 {
    font-size: 34px;
  }

  .home h2 {
    font-size: 30px;
  }

  .profile {
    margin: 0 0 7% 0;
  }

  .home {
    width: 100%;
  }

  .coln {
    display: flex;
    flex-direction: column;
  }

  .home-btn {
    gap: 15px;
    padding: 2%;
  }

  .hire,
  .hire-btn {
    padding: 5px 20px;
    font-size: 20px;
  }

  .hire:hover {
    border: 1px solid cornsilk;
  }
}
