.desc {
    padding: 7% 5% 10px;
    color: rgb(10, 33, 70);
    font-size: 25px;
}

@media only screen and (max-width: 760px) {
    .desc {
        padding: 15% 5% 10px;
        font-size: 22px;
    }
}