.about {
    padding: 7% 5% 0;
    background-color: #191765;
    color: #f5f5ff;
}

.about h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
}

.desc {

    font-size: 20px;
    line-height: 35px;
}

.stack {
    padding: 20px 5%;
}

.stack h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.skills h2 {
    font-size: 25px;
}

.list {
    list-style: none;
    padding: 20px 0 0;
}

.list li {
    padding: 5px 0;
    font-size: 20px;
}

.about-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 0 5%;
}

@media only screen and (max-width: 760px) {
    .about {
        padding: 15% 5% 0;

    }

    .desc {
        font-size: 18px;
        line-height: 28px;
    }

    .tech {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills h2 {
        font-size: 23px;
        padding: 10px 0 0;
        margin-bottom: 0;
    }

    .list li {
        font-size: 18px;
    }
}