.container {
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.heading {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}

.card {
  border: 2px solid #f5f5ff;
  padding: 10px;
  background: #2563eb;
  display: flex;
  flex-direction: row;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.25s ease-in-out;
}

.card img {
  width: 50%;
  height: auto;
}

.card-container {
  width: 50%;
  margin: 10px 20px;
}

.card-container h1 {
  font-size: 40px;
  font-weight: 700;
}

.card-container p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.project-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.lists {
  margin: 0;
  padding: 0;
}

.lists li {
  border-right: 1px solid #f5f5ff;
  padding: 0 1% 0 5px;
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.css {
  border-left: 1px solid #f5f5ff;
}

.live {
  /* background-color: #191765; */
  color: #f5f5ff;
  padding: 5px 20px;
  font-size: 25px;
  border-radius: 15px;
  border: 1px solid #f5f5ff;
}

.live:hover {
  /* border: 1px solid #191765; */
  background-color: #f5f5ff;
  color: #191765;
}

#btn {
  padding: 5px 30px;
}

.project {
  padding: 30px 0 0;
  color: #f6b40f;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 114px;
}

@media only screen and (max-width: 760px) {
  #mobile {
    z-index: 1;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .card img {
    width: 100%;
  }

  .card-container {
    width: 100%;
    margin: 10px 0;
  }

  .card-container h1 {
    font-size: 32px;
  }

  .lists {
    padding: 0;
    width: 100%;
  }

  .lists li {
    padding: 0 1%;
    margin: 0;
  }

  .live {
    padding: 5px 20px;
    font-size: 20px;
  }

  #btn {
    padding: 5px 30px;
  }
}
